 /* Log-in */
:root {
  
  --color-title-borders-main: #FFD800;
  --color-button-bg: #1F2742;
  --color-login-bg: #151515;
  --color-input-bg: #2A2A2A;
  --color-text-main: #EDEDED;
  --color-text-placeholder: #9B9B9B;
  --color-link-text: #6AAEFF;
  --color-icon-close: #E05656;
}

